USE [DbLibrary]
GO
/****** Object:  Table [dbo].[TBLBOOK]    Script Date: 15.01.2023 12:25:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLBOOK](
	[BOOKID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[PAGE] [varchar](4) NULL,
	[AUTHOR] [varchar](50) NULL,
	[CATEGORY] [int] NULL,
 CONSTRAINT [PK_TBLBOOK] PRIMARY KEY CLUSTERED 
(
	[BOOKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLCATEGORY]    Script Date: 15.01.2023 12:25:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLCATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYNAME] [nchar](20) NULL,
 CONSTRAINT [PK_TBLCATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLBOOK] ON 

INSERT [dbo].[TBLBOOK] ([BOOKID], [NAME], [PAGE], [AUTHOR], [CATEGORY]) VALUES (1, N'Tuna Klavuzu', N'325', N'Jules Verne', 1)
INSERT [dbo].[TBLBOOK] ([BOOKID], [NAME], [PAGE], [AUTHOR], [CATEGORY]) VALUES (2, N'Satranç', N'60', N'Stephan Zweig', 2)
INSERT [dbo].[TBLBOOK] ([BOOKID], [NAME], [PAGE], [AUTHOR], [CATEGORY]) VALUES (3, N'Ay Işığında Şiirler', N'110', N'Haldun Taner', 4)
SET IDENTITY_INSERT [dbo].[TBLBOOK] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLCATEGORY] ON 

INSERT [dbo].[TBLCATEGORY] ([ID], [CATEGORYNAME]) VALUES (1, N'Novel               ')
INSERT [dbo].[TBLCATEGORY] ([ID], [CATEGORYNAME]) VALUES (2, N'Tale                ')
INSERT [dbo].[TBLCATEGORY] ([ID], [CATEGORYNAME]) VALUES (3, N'Theatre             ')
SET IDENTITY_INSERT [dbo].[TBLCATEGORY] OFF
GO
ALTER TABLE [dbo].[TBLBOOK]  WITH CHECK ADD  CONSTRAINT [FK_TBLBOOK_TBLCATEGORY] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[TBLCATEGORY] ([ID])
GO
ALTER TABLE [dbo].[TBLBOOK] CHECK CONSTRAINT [FK_TBLBOOK_TBLCATEGORY]
GO
